*.pyc  # Python 2
*.swp  # vim
*.outfile
*.fit*  # Usually too large for GitHub to handle well
*.bak  # For 2to3
*.sha1sum  # For bosssha1sum


/.idea/  # For PyCharm
/sdss-obstools.egg-info/
/dist/
/build/
/*/__pycache__/
