*.pyc  # Python 2
*.swp  # vim
*.outfile
*.fit*  # Usually too large for GitHub to handle well
*.bak  # For 2to3
*.sha1sum  # For bosssha1sum
/old_bin/apRaw-03720068.fits

/.idea/  # For PyCharm
.idea/
/*.egg-info/
/dist/
/build/
/**/__pycache__/
/.vscode/