wheel>=0.37.0
pathlib>=1.0.1
matplotlib~=3.3.2
numpy~=1.23.3
astropy~=5.1
pyds9~=1.8.1
tqdm~=4.50.2
seaborn~=0.12.0
scipy~=1.9.1
setuptools>=47.1.1
pytest-astropy
datetime~=4.3
fitsio~=1.1.4
beautifulsoup4~=4.9.3
influxdb-client>=1.19.0
pydl~=0.6.0
sep~=1.2.0
click ~= 8.1.3
